/* HYPENATION */

* {
  overflow-wrap: break-word;
  hyphens: auto;
}

.main-name, 
.main-name * {
  hyphens: none;
}

/* SCROLLING AND CONSTANT FONT SIZE */

html {
  scroll-behavior: auto;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* VERTICAL CENTERING */

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
}

/* STYLE WITH BIG LINE SPACE */

.line14 {
  line-height: 1.4;
}

/* TOP BAR */

.top-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  background-color: transparent;
  border-bottom: none;
  z-index: 999;
}

.top-nav .link-group {
  display: flex;
  gap: 20px;
  padding: 8px 20px 6px 20px;
  border-radius: 25px;
  background: rgba(242, 242, 242, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(169, 169, 169, 0.5);
  align-items: center;
}

.top-nav .link-group a {
  color: #00008B;
  text-decoration: none;
  font-weight: 700;
  padding: 4px 8px;
}

.top-nav .link-group a:hover {
  color: #000044;
}

/* BODY */

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  background-color: #f2f2f2;
  font-stretch: 94%;
  letter-spacing: -0.015em;
  word-spacing: -0.01em;
  font-feature-settings: "kern" 1, "liga" 1, "clig" 1, "calt" 1;
  text-rendering: optimizeLegibility;
}

/* PARAGRAPH SPACING */

p {
  line-height: 1.4;
}

/* CONTENT */

.content {
  max-width: 1010px;                                
  width: 100%;                                       
  margin-left: auto;       
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 5px;
  padding-right: 88px;
  text-align: justify;
  background-color: #f2f2f2;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

/* TITLE */

.main-name {
  margin-bottom: 0px;
  padding-left: 166px; 
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
}

.name-title {
  font-size: 4.0em;
  font-weight: 400;
}

.name-title strong {
  font-weight: 700;
}

/* HEADERS */

.content h2 {
  margin-left: 0;
  padding-left: 166px; 
  margin-bottom: 8px;  
  margin-top: 40px;  
  text-transform: uppercase;
}

.content h3 {
  margin-left: 0;
  padding-left: 166px; 
  margin-bottom: 8px;  
  margin-top: 20px;  
  text-transform: uppercase;
}

/* LINK BEHAVIOR */

.content a {
  color: #00008B !important;
  text-decoration: none;
}

.content a:hover {
  color: #00008B !important;
  text-decoration: none;
  color: #000044 !important;
}

/* THREE-COLUMN LAYOUT */

.three-column {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 8px 16px;
  align-items: start;
  margin-top: 0px;
  max-width: 100%;
  overflow-wrap: break-word;
}

/* TWO-COLUMN ONE-ROW */

.two-column {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 8px 16px;
  align-items: start;
  margin-top: 0px;
  max-width: 100%;
  overflow-wrap: break-word;
}

.two-column .label {
  font-weight: normal;
  text-align: right;
}

.fill-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fill-line span {
  white-space: nowrap;
}

.fill-line span:last-child {
  font-size: 0.8em;
  font-weight: normal;
}

/* TWO-COLUMN TWO-ROW */

.two-column-2rows-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 0px;
}

.two-column-2rows {
  display: grid;
  grid-template-columns: 150px auto;
  gap: 8px 16px;
}

.two-column-2rows .label {
  text-align: right;
  font-weight: normal;
}

.two-column-2rows .value {
  display: flex;
  flex-direction: column;
}

.two-column-2rows .value .top-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  white-space: nowrap;
}

.two-column-2rows .value .top-row span:last-child {
  font-size: 0.8em;
  font-weight: normal;
}

.two-column-2rows .value .second-row {
  margin-top: 0px;
  font-size: 1em;
  color: #333;
}

/* TWO-COLUMN THREE-ROW */

.two-column-3rows-container {
  gap: 4px !important;
}

.two-column-3rows {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 8px 16px;     
  align-items: start;
}

.two-column-3rows .label {
  text-align: right;
  font-weight: normal;
  align-self: start;
}

.two-column-3rows .label.blank {
  visibility: hidden;
}

.two-column-3rows .value {
  gap: 2px !important;
}

.two-column-3rows .value .top-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.two-column-3rows .value .top-row .course {
  flex-grow: 1;
  text-align: left;
}

.two-column-3rows .value .top-row .institution {
  text-align: right;
  font-size: 0.8em; 
  flex-shrink: 0;
  color: #333;
}

.two-column-3rows .value .second-row,
.two-column-3rows .value .third-row {
  margin: 0;
  font-size: 1em;
  color: #333;
}

/* OA ICON COLOR */

.ai-open-access::before {
  color: #556B2F;
}

/* PDF & POWERPOINT ICONS ALIGNMENT */

.fa-file-pdf,
.fa-file-powerpoint {
  font-size: 0.8em;
  position: relative;
  top: -1.75px;
  vertical-align: middle;
}

/* COLLAPSIBLES */

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  margin: 0;
  padding: 0;
}

.collapsible-link, 
.collapsible-link.i {
  color: #00008B;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;
}

.two-column-2rows .value .top-row .collapsible-link, 
.two-column-3rows .value .top-row .collapsible-link, 
.two-column .value .collapsible-link {
  color: #00008B;
  cursor: pointer;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: anywhere;     
  word-break: break-word;
  hyphens: auto;
}

.two-column-2rows .value .top-row .collapsible-link:hover, 
.two-column-3rows .value .top-row .collapsible-link:hover, 
.two-column .value .collapsible-link:hover {
  text-decoration: none;
  color: #000044 !important;
}

h2.collapsible-link {
  color: black; 
  cursor: pointer;
}

/* ROW OF ICONS */

.icon-row {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 168px;
  margin-top: 10px;
}

.icon-row a {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.icon-row a:hover {
  transform: scale(1.2);
}

/* SMALL SCREENS */

@media (max-width: 1100px) {
  .main-name, .name-title {
    padding-left: 0 !important;
    text-align: left !important;
  }
  .icon-row {
    margin-left: 0 !important;
    margin-top: 10px;
    justify-content: flex-start;
  }
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    margin-left: 0;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 45px;  
  }
  .two-column,
  .two-column-2rows,
  .two-column-3rows {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .two-column .label,
  .two-column-2rows .label,
  .two-column-3rows .label {
    text-align: left !important;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 0px;
  }
  .two-column .value,
  .two-column-2rows .value,
  .two-column-3rows .value {
    text-align: left !important;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .two-column-2rows .top-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .two-column-2rows .top-row span {
    width: 100%;
    white-space: normal;
    text-align: left !important;
  }
  .two-column-3rows .top-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .two-column-3rows .top-row .institution {
    text-align: left !important;
    margin-top: 0px;
    width: 100%;
  }
  .two-column-3rows .top-row .course {
    width: 100%;
  }
  .two-column-3rows .value .top-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    margin: 0;
  }
  .two-column-3rows .value .top-row .role > * {
    margin: 0;
  }
  .two-column-3rows .value .second-row,
  .two-column-3rows .value .third-row {
    margin-top: 0;
    margin-bottom: 0px;
  }
 .fill-line {
    flex-direction: column;
    align-items: flex-start;
  }
  .fill-line span {
    width: 100%;
    text-align: left !important;
    white-space: normal;
  }
  .content,
  body.home-page .content {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    max-width: 95% !important;
    width: 100% !important;
    text-align: left !important;
  }
 .two-column[style] {
    padding-right: 0 !important; /* or 5px, whatever your small screen padding is */
  }
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  .top-nav .link-group {
    background: rgba(13, 13, 13, 0.5);
    border: 1px solid rgba(86, 86, 86, 0.5);
  }
  .top-nav {
    border-bottom: none;
  }
  .top-nav a {
    color: #66ccff !important;
  }
  .top-nav a:hover {
    text-decoration: none !important;
    color: #cceeff !important;
  }
  body, .content {
    background-color: #0d0d0d !important;
    color: #f2f2f2 !important;
  }
  h2.collapsible-link {
    color: white;
  }
  a, .content a, .icon-row a {
    color: #66ccff !important;
    text-decoration: none !important;
  }
  a:hover, .content a:hover, .icon-row a:hover {
    text-decoration: none !important;
    color: #cceeff !important;
  }
  .two-column-2rows .value .second-row,
  .two-column-3rows .value .second-row,
  .two-column-3rows .value .third-row {
    color: #f2f2f2 !important;
  }
  mark {
    background-color: #555 !important;
    color: #f2f2f2 !important;
  }
  .two-column-2rows .value .top-row > *:not(a) {
    color: #f2f2f2 !important;
  }
  .two-column-3rows .value .top-row > *:not(a):not(.collapsible-link) {
    color: #f2f2f2 !important;
  }
  .two-column-3rows .value .top-row .institution {
    color: #f2f2f2 !important;
  }
  .two-column-2rows .value .top-row .collapsible-link,
  .two-column-2rows .value .top-row .collapsible-link *,
  .two-column-3rows .value .top-row .collapsible-link,
  .two-column-3rows .value .top-row .collapsible-link *, 
  .two-column .value .collapsible-link {
    color: #66ccff !important;
  }
  .two-column-2rows .value .top-row .collapsible-link:hover,
  .two-column-3rows .value .top-row .collapsible-link:hover, 
  .two-column .value .collapsible-link:hover {
    text-decoration: none !important;
    color: #cceeff !important;
  }
.ai-open-access::before {
  color: #99dd77;
  }
}
