body {
  font-family: 'Merriweather', serif;
  margin: 0;
  display: flex;
}

.sidebar {
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
}

.sidebar a {
  display: block;
  margin: 12px 0;
  color: #333;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.1em; /* larger font */
}

.content {
  margin-left: 280px;
  padding: 20px;
  scroll-behavior: smooth;
}

.main-name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}
